body {
  background-color: #16161d;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h4 {
  margin: 0.4em 0;
  line-height: 1.2;
}

h1 {
  font-size: 2.2em;
  color: #1db0ff;
}

h2 {
  font-size: 1.5em;
  color: #c586c0;
}

a {
  color: #c586c0;
}
